<a href="#list-chat" class="filterDiscussions all unread single"
   id="list-chat-list" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-1.jpg"
         data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
    <div class="status">
        <i class="material-icons online">fiber_manual_record</i>
    </div>
    <div class="new bg-yellow">
        <span>+7</span>
    </div>
    <div class="data">
        <h5>Janette Dalton</h5>
        <span>Mon</span>
        <p>A new feature has been updated to your account. Check it out...</p>
    </div>
</a>
<a href="#list-empty" class="filterDiscussions all unread single"
   id="list-empty-list" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-1.jpg"
         data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="new bg-pink">
        <span>+10</span>
    </div>
    <div class="data">
        <h5>Michael Knudsen</h5>
        <span>Sun</span>
        <p>How can i improve my chances of getting a deposit?</p>
    </div>
</a>
<a href="#list-chat" class="filterDiscussions all read single" id="list-chat-list2"
   data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg"
         data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="data">
        <h5>Lean Avent</h5>
        <span>Tus</span>
        <p>Hey Chris, could i ask you to help me out with variation...</p>
    </div>
</a>
<a href="#list-empty" class="filterDiscussions all read single"
   id="list-empty-list2" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-2.jpg"
         data-toggle="tooltip" data-placement="top" title="Mariette" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="data">
        <h5>Mariette Toles</h5>
        <span>5 mins</span>
        <p>By injected humour, or randomised words which...</p>
    </div>
</a>
<a href="#list-chat" class="filterDiscussions all read single" id="list-chat-list3"
   data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-3.jpg"
         data-toggle="tooltip" data-placement="top" title="Harmony" alt="avatar">
    <div class="status">
        <i class="material-icons online">fiber_manual_record</i>
    </div>
    <div class="data">
        <h5>Harmony Otero</h5>
        <span>Mon</span>
        <p>No more running out of the office at 4pm on Fridays!</p>
    </div>
</a>
<a href="#list-empty" class="filterDiscussions all read single"
   id="list-empty-list3" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg"
         data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="data">
        <h5>Keith Morris</h5>
        <span>Fri</span>
        <p>All your favourite books at your reach! We are now mobile.</p>
    </div>
</a>
<a href="#list-request" class="filterDiscussions all unread single"
   id="list-request-list" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-6.jpg"
         data-toggle="tooltip" data-placement="top" title="Louis" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="new bg-gray">
        <span>?</span>
    </div>
    <div class="data">
        <h5>Louis Martinez</h5>
        <span>Feb 10</span>
        <p>Hi Keith, I'd like to add you as a contact.</p>
    </div>
</a>
<a href="#list-empty" class="filterDiscussions all read single"
   id="list-empty-list4" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-3.jpg"
         data-toggle="tooltip" data-placement="top" title="Ryan" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="data">
        <h5>Ryan Foster</h5>
        <span>Feb 9</span>
        <p>Dear Deborah, your Thai massage is today at 5pm.</p>
    </div>
</a>
<a href="#list-chat" class="filterDiscussions all unread single"
   id="list-chat-list5" data-toggle="list" role="tab">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-4.jpg"
         data-toggle="tooltip" data-placement="top" title="Mildred" alt="avatar">
    <div class="status">
        <i class="material-icons offline">fiber_manual_record</i>
    </div>
    <div class="new bg-green">
        <span>+9</span>
    </div>
    <div class="data">
        <h5>Mildred Bennett</h5>
        <span>Thu</span>
        <p>Unfortunately your session today has been cancelled!</p>
    </div>
</a>
<!-- Start of Babble -->
<div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
    <!-- Start of Chat -->
    <div class="chat" id="chat2">
        <div class="top">
            <div class="container">
                <div class="col-md-12">
                    <div class="inside">
                        <a href="#"><img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg"
                                         data-toggle="tooltip" data-placement="top" title="Lean"
                                         alt="avatar"></a>
                        <div class="status">
                            <i class="material-icons offline">fiber_manual_record</i>
                        </div>
                        <div class="data">
                            <h5><a href="#">Lean Avent</a></h5>
                            <span>Inactive</span>
                        </div>
                        <button class="btn connect d-md-block d-none" name="2"><i
                                class="material-icons md-30">phone_in_talk</i></button>
                        <button class="btn connect d-md-block d-none" name="2"><i
                                class="material-icons md-36">videocam</i></button>
                        <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i>
                        </button>
                        <div class="dropdown">
                            <button class="btn" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"><i class="material-icons md-30">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item connect" name="2"><i
                                        class="material-icons">phone_in_talk</i>Voice Call
                                </button>
                                <button class="dropdown-item connect" name="2"><i
                                        class="material-icons">videocam</i>Video Call
                                </button>
                                <hr>
                                <button class="dropdown-item"><i class="material-icons">clear</i>Clear
                                    History
                                </button>
                                <button class="dropdown-item"><i class="material-icons">block</i>Block
                                    Contact
                                </button>
                                <button class="dropdown-item"><i class="material-icons">delete</i>Delete
                                    Contact
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content empty">
            <div class="container">
                <div class="col-md-12">
                    <div class="no-messages">
                        <i class="material-icons md-48">forum</i>
                        <p>Seems people are shy to start the chat. Break the ice send the first
                            message.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="bottom">
                    <form class="position-relative w-100">
                                        <textarea class="form-control" placeholder="Start typing for reply..."
                                                  rows="1"></textarea>
                        <button class="btn emoticons"><i class="material-icons">insert_emoticon</i>
                        </button>
                        <button type="submit" class="btn send"><i class="material-icons">send</i>
                        </button>
                    </form>
                    <label>
                        <input type="file">
                        <span class="btn attach d-sm-block d-none"><i
                                class="material-icons">attach_file</i></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Chat -->
    <!-- Start of Call -->
    <div class="call" id="call2">
        <div class="content">
            <div class="container">
                <div class="col-md-12">
                    <div class="inside">
                        <div class="panel">
                            <div class="participant">
                                <img class="avatar-xxl" src="dist/img/avatars/avatar-female-2.jpg"
                                     alt="avatar">
                                <span>Connecting</span>
                            </div>
                            <div class="options">
                                <button class="btn option"><i class="material-icons md-30">mic</i>
                                </button>
                                <button class="btn option"><i class="material-icons md-30">videocam</i>
                                </button>
                                <button class="btn option call-end"><i class="material-icons md-30">call_end</i>
                                </button>
                                <button class="btn option"><i
                                        class="material-icons md-30">person_add</i></button>
                                <button class="btn option"><i class="material-icons md-30">volume_up</i>
                                </button>
                            </div>
                            <button class="btn back" name="2"><i class="material-icons md-24">chat</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Call -->
</div>
<!-- End of Babble -->
<!-- Start of Babble -->
<div class="babble tab-pane fade" id="list-request" role="tabpanel" aria-labelledby="list-request-list">
    <!-- Start of Chat -->
    <div class="chat" id="chat3">
        <div class="top">
            <div class="container">
                <div class="col-md-12">
                    <div class="inside">
                        <a href="#"><img class="avatar-md" src="dist/img/avatars/avatar-female-6.jpg"
                                         data-toggle="tooltip" data-placement="top" title="Louis"
                                         alt="avatar"></a>
                        <div class="status">
                            <i class="material-icons offline">fiber_manual_record</i>
                        </div>
                        <div class="data">
                            <h5><a href="#">Louis Martinez</a></h5>
                            <span>Inactive</span>
                        </div>
                        <button class="btn disabled d-md-block d-none" disabled><i
                                class="material-icons md-30">phone_in_talk</i></button>
                        <button class="btn disabled d-md-block d-none" disabled><i
                                class="material-icons md-36">videocam</i></button>
                        <button class="btn d-md-block disabled d-none" disabled><i
                                class="material-icons md-30">info</i></button>
                        <div class="dropdown">
                            <button class="btn disabled" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" disabled><i class="material-icons md-30">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item"><i
                                        class="material-icons">phone_in_talk</i>Voice Call
                                </button>
                                <button class="dropdown-item"><i class="material-icons">videocam</i>Video
                                    Call
                                </button>
                                <hr>
                                <button class="dropdown-item"><i class="material-icons">clear</i>Clear
                                    History
                                </button>
                                <button class="dropdown-item"><i class="material-icons">block</i>Block
                                    Contact
                                </button>
                                <button class="dropdown-item"><i class="material-icons">delete</i>Delete
                                    Contact
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content empty">
            <div class="container">
                <div class="col-md-12">
                    <div class="no-messages request">
                        <a href="#"><img class="avatar-xl" src="dist/img/avatars/avatar-female-6.jpg"
                                         data-toggle="tooltip" data-placement="top" title="Louis"
                                         alt="avatar"></a>
                        <h5>Louis Martinez would like to add you as a contact. <span>Hi Keith, I'd like to add you as a contact.</span>
                        </h5>
                        <div class="options">
                            <button class="btn button"><i class="material-icons">check</i></button>
                            <button class="btn button"><i class="material-icons">close</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="bottom">
                    <form class="position-relative w-100">
                                        <textarea class="form-control" placeholder="Messaging unavailable" rows="1"
                                                  disabled></textarea>
                        <button class="btn emoticons disabled" disabled><i class="material-icons">insert_emoticon</i>
                        </button>
                        <button class="btn send disabled" disabled><i class="material-icons">send</i>
                        </button>
                    </form>
                    <label>
                        <input type="file" disabled>
                        <span class="btn attach disabled d-sm-block d-none"><i
                                class="material-icons">attach_file</i></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Chat -->
</div>
<!-- End of Babble -->